* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary__color: #b5121b;
  --border__radius: 15px;
}

.container__full {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  padding: 30px 0px;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.flex__row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img__responsive {
  max-width: 100%;
}

/* Navbar CSS */

.navbar {
  min-height: 0vh;
  padding: 15px 0px;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.07);
  position: relative;
  overflow-x: hidden;
}

.menu__wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  flex-wrap: wrap;
}

.logo {
  flex: 1;
}

.img__responsive {
  width: 100%;
  max-width: 250px;
}

.toggle__button {
  display: none;
}

.menu__options {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.menu__items {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #121212;
  text-transform: capitalize;
  padding: 5px 15px;
  margin-left: 15px;
  font-weight: 500;
  transition: 300ms;
}

.menu__items:hover {
  color: #b5121b;
}

/* Home CSS */

.game__box {
  width: 30%;
  border-radius: var(--border__radius);
  padding: 20px;
  position: relative;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.11);
  transition: 300ms;
}

.game__box:hover {
  cursor: context-menu;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.21);
}

.release__date {
  display: inline-block;
  margin-left: auto;
  padding: 5px 15px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 5px 10px;
  background-color: #b5121b;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

.game__icon {
  display: block;
  width: 100%;
  max-width: 120px;
  border-radius: var(--border__radius);
}

.game__title {
  margin: 25px 0 15px 0;
  font-weight: 400;
  font-size: 23px;
}

.button__section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 20px 0;
}

.learn__more__button {
  display: grid;
  place-content: center left;
  flex: 1;
  margin: 0 5px;
}

.learn__more__button a {
  color: #121212;
}

.learn__more__button a:hover {
  color: #b5121b;
}

.google__play {
  display: inline-block;
  flex: 1;
  margin: 0 5px;
}

/* Game Page Template CSS */

.title__bar {
  font-weight: 200;
  padding: 15px 0px;
  text-align: center;
  background-color: #fdb913;
}

.single__app {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.image__sec {
  flex: 1;
  padding: 15px;
}

.feature__img {
  padding: 15px;
  background-color: white;
  border: 1px solid #f2f4f8;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.11);
}

.carousel {
  margin: 30px 0px;
  padding: 10px 0px;
}

.content {
  flex: 1;
  padding: 0 20px 20px 20px;
}

.img__responsive {
  max-width: 100%;
}

.single__game__title {
  font-size: 35px;
  font-weight: 400;
  color: #121212;
  margin-bottom: 20px;
}

.game__title span {
  font-size: 18px;
  color: #b5121b;
}

.description {
  margin: 20px 0;
}

.description p {
  margin: 20px 0;
}

.features {
  margin-top: 30px;
}

.features h1 {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 24px;
}

.feature__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.list__item {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.list__icon {
  padding-top: 15px;
  margin-right: 15px;
}

.list {
  padding-top: 15px;
}

.social__info {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 30px;
}

.social__list {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.icon__code {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social__icon,
.social__qr__code {
  flex: 1;
  padding: 5px;
}

.social__icon img {
  aspect-ratio: 1 / 1;
}

.social__name {
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.social__desc a {
  text-decoration: none;
  color: #fdb913;
}

.social__desc a:hover {
  text-decoration: underline;
}

.social__desc p {
  font-size: 12px;
  font-weight: 500;
  color: grey;
  margin-top: 15px;
}

.title__more__games {
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 30px;
}

.same__categories__products {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.products {
  flex: 1;
  width: 20%;
  margin: 15px;
  padding: 20px;
  background-color: white;
  border: 1px solid #f2f4f8;
  border-radius: var(--border__radius);
}

.products a {
  font-size: 13px;
  color: #fdb913;
  text-decoration: none;
}

.products a:hover {
  text-decoration: underline;
}

.products img {
  border-radius: var(--border__radius);
  max-width: 100px;
}

.game__name {
  font-weight: 400;
  font-size: 17px;
  margin: 15px 0;
}

.short__desc {
  margin-top: 10px;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.footer {
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.07);
  background-color: #f2f4f7;
  padding: 15px;
  color: #121212;
  text-align: center;
}

.footer a {
  display: inline-block;
  color: #121212;
  padding: 8px;
  text-decoration: none;
  margin: 5px;
  font-size: 20px;
  transition: 250ms;
}

.footer a:hover {
  color: #b5121b;
  border-bottom: 1px solid #b5121b;
}

.footer p {
  font-size: 13px;
  text-align: center;
}

/* Mediaquery for Tab */

@media (min-width: 768px) and (max-width: 1024px) {
  .game__box {
    width: 45%;
    margin: 10px;
  }
}

/* Mediaquery for Mobile */

@media (min-width: 320px) and (max-width: 480px) {
  /* Navbar */
  .logo {
    text-align: center;
    width: 70%;
    margin-right: auto;
  }

  .toggle__button {
    background-color: transparent;
    border: none;
    display: block;
    font-size: 25px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }

  .toggle__button:active {
    color: #b5121b;
  }

  .menu__wrapper {
    flex-direction: column;
  }

  .menu__options {
    text-align: left;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.07);
  }

  /* Home Page */

  .game__box {
    width: 80%;
    margin: 30px auto;
  }

  /* Game Page */
  .single__app {
    flex-direction: column;
  }

  .social__list {
    max-width: 50%;
  }

  .same__categories__products {
    flex-direction: column;
  }

  .products {
    width: 80%;
  }
}
